In [1]:
# This is master script
# Import library
import numpy as np  
import pandas as pd
import os
import glob
import sys
from statistics import mode 

sys.path.append('..')
from processed_script.ipay import preprocessing_ipay
from processed_script.cc_balance import preprocessing_cc_balance
from processed_script.prev_app import preprocessing_prev_app
from processed_script.POS_CASH_balance import preprocessing_POS_CASH_balance
from processed_script.main import preprocessing_main

# ipay_df = preprocessing_ipay()
cc_balance_df = preprocessing_cc_balance()
prev_app_df = preprocessing_prev_app()
# POS_CASH_balance_df = preprocessing_POS_CASH_balance()
main_df = preprocessing_main()

In [2]:
# application train dataset
main_df.SK_ID_CURR.nunique(), main_df.shape

(307511, (307511, 122))

In [3]:
# first join for prev application
# prev_app_df.SK_ID_CURR.nunique(), prev_app_df.shape
# for f in prev_app_df:
#     print(f)
    
prev_app_df.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,1,1730,17145,17145,0,17145,5,15,...,2,12,1,2.0,365243,-42,300,-42,-37,0
1,2802425,108129,0,25188,607500,679671,6697,607500,3,11,...,0,36,4,4.0,365243,-134,916,365243,365243,1
2,2523466,122040,0,15060,112500,136444,6697,112500,1,11,...,0,12,2,10.0,365243,-271,59,365243,365243,1
3,2819243,176158,0,47041,450000,470790,6697,450000,0,7,...,0,12,1,3.0,365243,-482,-152,-182,-177,1
4,1784265,202054,0,31924,337500,404055,6697,337500,3,9,...,0,24,2,9.0,342209,13826,33767,76582,81992,-1

In [41]:
# find common ID

main_ids = list(main_df['SK_ID_CURR'].unique())
prev_ids = list(prev_app_df['SK_ID_CURR'].unique())

common_ids = set(main_ids).intersection(set(prev_ids))

len(common_ids)

# identify dataset in prev_application dataset
filtered_prev_df = prev_app_df.loc[prev_app_df.SK_ID_CURR.isin(main_ids)]

gp = filtered_prev_df.groupby('SK_ID_CURR')

In [43]:
# do prev app table first

agg_dict = {
    # int/float features
    'AMT_ANNUITY':['mean'],
    'AMT_APPLICATION':['mean'],
    'AMT_CREDIT':['mean'],
    'AMT_DOWN_PAYMENT':['mean'],
    'AMT_GOODS_PRICE':['mean'],
    'HOUR_APPR_PROCESS_START':['mean'],
    'NFLAG_LAST_APPL_IN_DAY':['mean'],
    'RATE_DOWN_PAYMENT':['mean'],
    'RATE_INTEREST_PRIMARY':['mean'],
    'RATE_INTEREST_PRIVILEGED':['mean'],
    'DAYS_DECISION':['mean'],
    'SELLERPLACE_AREA':['mean'],
    'CNT_PAYMENT':['mean'],
    'DAYS_FIRST_DRAWING':['mean'],
    'DAYS_FIRST_DUE':['mean'],
    'DAYS_LAST_DUE_1ST_VERSION':['mean'],
    'DAYS_LAST_DUE':['mean'],
    'DAYS_TERMINATION':['mean'],
    'NFLAG_INSURED_ON_APPROVAL':['mean']
}

agg_df = prev_app_df.groupby('SK_ID_CURR').agg(agg_dict)
agg_df.columns = ['PREV_APP_{}_{}'.format(x[0],x[1]) for x in agg_df.columns.tolist()]

TypeError: 'SeriesGroupBy' object is not callable